<%= flash[:notice] %>

<h1>CSV로 확진자 정보 등록</h1>

<div>
    <%= form_tag import_confirmeds_path, multipart: true do %>
        <div>
            언어 선택:
            <%= select_tag 'language_id', options_for_select(Language.all.collect{ |l| [l.name, l.id] }) %>
        </div>
        
        <div>
            CSV 파일 업로드: 
            <%= file_field_tag :file %>
        </div>

        <%= submit_tag "업로드하기" %>
    <% end %>
</div>



<div class="row justify-content-center align-items-center mt-5">
    <div class="col">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <% @languages.each_with_index do |lang, i| %>
                <li class="nav-item">
                    <a class="nav-link <%= i == 0 ? "active" : "" %>" id="nav-tab<%= lang.id %>" data-toggle="pill" href="#tab<%= lang.id %>" role="tab" aria-controls="tab<%= lang.id %>" aria-selected="true">
                        <%= lang.name %>
                    </a>
                </li>
            <% end %>
        </ul>
    </div>
</div>

<div class="row mb-5">
    <div class="col">
        <div class="tab-content" id="pills-tabContent">
            <% @languages.each_with_index do |lang, i| %>
                <div class="tab-pane fade show <%= i == 0 ? "active" : "" %>" id="tab<%= lang.id %>" role="tabpanel" aria-labelledby="tab<%= lang.id %>">
                    <div class="table-responsive">
                    <table class="table table-bordered my-3">
                        <thead class="thead-dark">
                            <tr>
                                <th>시 (si_id)</th>
                                <th>ID</th>
                                <th>번호 (index)</th>
                                <th>확진일 (dateConfirmed)</th>
                                <th>경로파악여부 (routeIdentified)</th>
                                <th>거주지 (residence)</th>
                                <th>번역된 언어</th>
                                <th>확진자명 (name)</th>
                                <th>성별/연령 (genderAge)</th>
                                <th>감염경로 (infectionRoute)</th>
                                <th>이동경로 (movementRoute)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% c_langs = lang.language_confirmeds %>
                            <% c_langs.each do |c_lang| %>
                                <% c = c_lang.confirmed %>
                                <tr>
                                    <td><%= c.si_id %></td>
                                    <td><%= c.id %></td>
                                    <td><%= c.index %></td>
                                    <td><%= c.dateConfirmed %></td>
                                    <td><%= c.routeIdentified %></td>
                                    <td><%= c_lang.residence %></td>
                                    <td><%= c_lang.language.name %></td>
                                    <td><%= c_lang.name %></td>
                                    <td><%= c_lang.genderAge %></td>
                                    <td><%= c_lang.infectionRoute %></td>
                                    <td><%= simple_format(c_lang.movementRoute) %></td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>