<div class="table-responsive">
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr class="text-center">
                <th><%= @language.inProcess || "Not updated yet" %></th>
                <th><%= @language.monitored  || "Not updated yet"%></th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-right">
                <td class="text-blue"><b><%= @si.inProcessThisWeek || "Not updated yet" %></b></td>
                <td class="text-blue"><b><%= @si.monitoredThisWeek || "Not updated yet" %></b></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="table-responsive mb-5">
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr class="text-center">
                <th><%= @language.numConfirmedByLocation || "Not updated yet" %></th>
                <th><%= @language.today || "Not updated yet" %></th>
                <th><%= @language.lastWeek || "Not updated yet" %></th>
                <th><%= @language.accumulated || "Not updated yet" %></th>
            </tr>
        </thead>
        <tbody>
            <!-- Total -->
            <tr class="table-primary">
                <th>Total</th>
                <td class="text-right text-red"><b><%= @si.gus.sum(:today) || "Not updated yet" %></b></td>
                <td class="text-right text-red"><b><%= @si.gus.sum(:lastWeek) || "Not updated yet" %></b></td>
                <td class="text-right"><%= @si.gus.sum(:accumulated) || "Not updated yet" %></td>
            </tr>
            <!-- By location -->
            <% @si.gus.each do |gu| %>
                <% language_gu = LanguageGu.find_by(language_id: @language.id, gu_id: gu.id) %>
                <tr class="table-secondary" data-toggle="collapse" data-target=".collapse<%= gu.id %>" aria-expanded="false" aria-controls="collapse<%= gu.id %>" role="button">
                    <th><%= language_gu.nil? ? "Not updated yet" : language_gu.name %></th>
                    <td class="text-right text-red"><b><%= gu.today || "Not updated yet" %></b></td>
                    <td class="text-right text-red"><b><%= gu.lastWeek || "Not updated yet" %></b></td>
                    <td class="text-right"><%= gu.accumulated || "Not updated yet" %></td>
                </tr>

                <% gu.dongs.each do |dong| %>
                    <% language_dong = LanguageDong.find_by(language_id: @language.id, dong_id: dong.id) %>
                    <tr class="collapse collapse<%= gu.id %>" id="collapse<%= gu.id %>-<%= dong.id %>">
                        <th><%= language_dong.nil? ? "Not updated yet" : language_dong.name %></th>
                        <td class="text-right text-red"><b><%= dong.today || "Not updated yet" %></b></td>
                        <td class="text-right text-red"><b><%= dong.lastWeek || "Not updated yet" %></b></td>
                        <td class="text-right"><%= dong.accumulated || "Not updated yet" %></td>
                    </tr>
                <% end %>
            <% end %>
        </tbody>
    </table>
</div>