<div class="table-responsive">
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr class="text-center">
                <th colspan="2"><%= @language.inProcess || "Not updated yet" %></th>
                <th colspan="2"><%= @language.monitored  || "Not updated yet"%></th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-secondary text-center">
                <td><%= @language.thisWeek || "Not updated yet" %></td>
                <td><%= @language.accumulated || "Not updated yet" %></td>
                <td><%= @language.thisWeek || "Not updated yet" %></td>
                <td><%= @language.accumulated || "Not updated yet" %></td>
            </tr>
            <tr class="text-right">
                <td><%= @si.inProcessThisWeek || "Not updated yet" %></td>
                <td><%= @si.inProcessAccumulated || "Not updated yet" %></td>
                <td><%= @si.monitoredThisWeek || "Not updated yet" %></td>
                <td><%= @si.monitoredAccumulated || "Not updated yet" %></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="table-responsive mb-5">
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr class="text-center">
                <th><%= @language.numConfirmedByLocation || "Not updated yet" %></th>
                <th><%= @language.today || "Not updated yet" %></th>
                <th><%= @language.thisWeek || "Not updated yet" %></th>
                <th><%= @language.lastWeek || "Not updated yet" %></th>
                <th><%= @language.accumulated || "Not updated yet" %></th>
            </tr>
        </thead>
        <tbody>
            <% @si.gus.each do |gu| %>
                <% language_gu = LanguageGu.find_by(language_id: @language.id, gu_id: gu.id) || gu%>
                <tr class="table-secondary" data-toggle="collapse" data-target=".collapse<%= gu.id %>" aria-expanded="false" aria-controls="collapse<%= gu.id %>" role="button">
                    <th><%= language_gu.name || "Not updated yet" %></th>
                    <td class="text-right"><%= gu.today || "Not updated yet" %></td>
                    <td class="text-right"><%= gu.thisWeek || "Not updated yet" %></td>
                    <td class="text-right"><%= gu.lastWeek || "Not updated yet" %></td>
                    <td class="text-right"><%= gu.accumulated || "Not updated yet" %></td>
                </tr>

                <% gu.dongs.each do |dong| %>
                    <% language_dong = LanguageDong.find_by(language_id: @language.id, dong_id: dong.id) %>
                    <tr class="collapse collapse<%= gu.id %>" id="collapse<%= gu.id %>-<%= dong.id %>">
                        <th><%= language_dong.name || "Not updated yet" %></th>
                        <td class="text-right"><%= dong.today || "Not updated yet" %></td>
                        <td class="text-right"><%= dong.thisWeek || "Not updated yet" %></td>
                        <td class="text-right"><%= dong.lastWeek || "Not updated yet" %></td>
                        <td class="text-right"><%= dong.accumulated || "Not updated yet" %></td>
                    </tr>
                <% end %>
            <% end %>
            
            <!-- Total -->
            <tr class="table-primary">
                <th><%= @language.accumulated || "Not updated yet" %></th>
                <td class="text-right"><%= @si.gus.sum(:today) || "Not updated yet" %></td>
                <td class="text-right"><%= @si.gus.sum(:thisWeek) || "Not updated yet" %></td>
                <td class="text-right"><%= @si.gus.sum(:lastWeek) || "Not updated yet" %></td>
                <td class="text-right"><%= @si.gus.sum(:accumulated) || "Not updated yet" %></td>
            </tr>
        </tbody>
    </table>
</div>