<div class="mb-2">
    <%= @language.guide %>
</div>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr class="text-center">
                <th scope="col"><%= @language.index || "Not updated yet" %></th>
                <th scope="col"><%= @language.residence || "Not updated yet" %></th>
                <th scope="col"><%= @language.dateConfirmed || "Not updated yet" %></th>
                <th scope="col"><%= @language.routeIdentified || "Not updated yet" %></th>
                <th scope="col"><%= @language.genderAge || "Not updated yet" %></th>
                <th scope="col"><%= @language.confirmedName || "Not updated yet" %></th>
                <th scope="col"><%= @language.infectionRoute || "Not updated yet" %></th> 
            </tr>
        </thead>
        <tbody>
            <% @si.confirmeds.sort_by(&:index).each do |c| %>
                <% c_lang = LanguageConfirmed.find_by(language_id: @language.id, confirmed_id: c.id) %>
                <tr data-toggle="collapse" data-target="#collapse<%= c.id %>" aria-expanded="false" aria-controls="collapse<%= c.id %>" role="button">
                    <th scope="row"><%= c.index %></th>
                    <td><%= c.residence(@language.id) || "Not updated yet" %></td>
                    <td><%= c.dateConfirmed || "Not updated yet" %></td>
                    <td><%= c.identified() || "Not updated yet" %></td>
                    <td><%= c_lang.nil? ? "Not updated yet" : c_lang.gender %> / <%= c.age || "Not updated yet" %></td>
                    <td><%= c_lang.nil? ? "Not updated yet" : c_lang.name %></td>
                    <td><%= c_lang.nil? ? "Not updated yet" : c_lang.infectionRoute %></td>
                </tr>

                <tr class="table-secondary collapse" id="collapse<%= c.id %>">
                    <td colspan="7">
                        <strong><%= @language.movementRoute || "Not updated yet" %></strong> &nbsp;
                        <%= c_lang.nil? ? "Not updated yet" : simple_format(c_lang.movementRoute) %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>