<div class="mb-2">
    <%= @language.guide %>
</div>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead class="thead-dark">
            <th scope="col"><%= @language.index %></th>
            <th scope="col"><%= @language.residence %></th>
            <th scope="col"><%= @language.dateConfirmed %></th>
            <th scope="col"><%= @language.routeIdentified %></th>
            <th scope="col"><%= @language.genderAge %></th>
            <th scope="col"><%= @language.confirmedName %></th>
            <th scope="col"><%= @language.infectionRoute %></th> 
        </thead>
        <tbody>
            <% @si.confirmeds.sort_by(&:index).each do |c| %>
                <% c_lang = LanguageConfirmed.find_by(language_id: @language.id, confirmed_id: c.id) %>
                <tr data-toggle="collapse" data-target="#collapse<%= c.id %>" aria-expanded="false" aria-controls="collapse<%= c.id %>" role="button">
                    <th scope="row"><%= c.index %></th>
                    <td><%= c.residence(@language.id) %></td>
                    <td><%= c.dateConfirmed %></td>
                    <td><%= c.identified() %></td>
                    <td><%= c_lang.gender %> / <%= c.age %></td>
                    <td><%= c_lang.name %></td>
                    <td><%= c_lang.infectionRoute %></td>
                </tr>

                <tr class="table-secondary collapse" id="collapse<%= c.id %>">
                    <td colspan="7">
                        <strong><%= @language.movementRoute %></strong> &nbsp;
                        <%= c_lang.movementRoute %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>